
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.buttons{
    position: fixed;
  

}
.wrapper{
    
    width: 100%;
    height: 100%;
    max-width: 1000px;
}
.repair{
    display: none;
}
.theyalow{
    display: none;
}
.titlebox{
    display: flex;
    justify-content: space-evenly;
    &__image{
        height: 200px;
        width: 200px;
        background: url(/assets/photo.jpg) no-repeat;
        background-size: contain;
        border-radius: 50%;
    }
    &__info{
        width: 20%;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
        &--links{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }   
        &--git{
            height: 50px;
            width: 50px;
            background: url(/assets/git.jpg) no-repeat;
            background-size: contain;
            
        }
        &--link{
            height: 50px;
            width: 50px;
            background: url(/assets/vk.png) no-repeat;
            background-size: contain;
        }
    }
}
.infobox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        .arrow_list{
            margin-left:20px;
        }
       
    }
    .none{
        display: none;
    }
}
.titlebox__info--name{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.infobox__item--education{
    margin-top:10px;
    margin-bottom: 10px;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slides__item--description{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
.slides{
    display: flex;
    width: 100%;
    height: 50%;
    &__item{
        &--first{
            display: flex;
            height: 100%;
        }
        width: 80%;
       &--second{
        display: flex;
        height: 100%;
       }

        &--description{
            width: 50%;
            height: 100%;
        }
        &--theyalow{
            width: 50%;
            height: 100%;
            background: url(/assets/thealow.png) no-repeat;
            background-size: cover;
        }
        &--repair{
            width: 50%;
            height: 100%;
            background: url(/assets/repair.png) no-repeat;
            background-size: cover;
        }
    }
    border:1px solid red;
    .button{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button.left{
        img{
        transform: rotate(90deg);
    }
    }
    .button.rigth{
        img{
            transform: rotate(-90deg);
        }
    }
    
}
.disable{
    display: none;
}
.active_frame{
    display: unset;
    
    
}

.activate{
    display: flex;
}
.desktop-frame{
    
    width:1400px;
}
.mobile-frame{
    width: 640px;
}
@media screen and (max-width:600px){
    .slides__item--first{
        flex-direction: column;
        height: 100%;
        width: 100%;
       align-items: center;
    }
    
    .slides_item{
        height: 100%;
        width: 100%;
    }
    .slides__item--second{
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .slides{
        flex-direction: column;
    }
    .slides{
        .button{
            display: none;
        }
        &__item{
            height: 100%;
            width: 100%;
        }
    }
}